*{
    box-sizing: border-box;
}
a{
    color: black;
text-decoration: none;
}

.alert-info{
    align-content: center;
    background-color: #d6fefe;
    text-align: center;
    padding:  20px;
}

h1{
    text-align: center;
}

.nav-links{
    list-style: none;
    background-color: white;
    padding-left: 0;
    text-align: center;
}

li {
    list-style: none;
    background-color: #ddd;
    margin-bottom: 10px;
    padding: 0;
}

li>a {
    display: block;
    padding: 20px 0;
    color: blue;
    text-decoration: underline;
}

@media screen and (min-width:768px) {

    .alert-info{
        display: none;
    }
    h1 {
        text-align: left;
        font-size: 2.5em;
        float: left;
    }
    img {
        margin-top: 40px;
    }
    nav {
        float: right;
    }

    li {
        float: left;
        margin-left: 30px;
        list-style: none;
        padding: 0;
        background-color: white;
    }

    section{
        float: left;
}

    #main{
}

    .sub-section{
}

    footer{
        text-align: left;
}

footer>p{
    float: left;
}

#social-media-links{
    height: 3%;
    width: 3%;
    float: right;
    margin-top: 0;
}





}